<!--联系我们-->
<style>
a {color:#FFF;}
a:hover {color:#FFF;}
a:visited {color:#FFF;}
</style>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="customer">
  <tbody>
    <tr>
      <td><a target="_blank" href="http://wpa.qq.com/msgrd?v=1&uin=59791963&site=qq&menu=yes"><img src="images/kf.png" alt=""/><b>朱峰</b></a></td>
      <td><a target="_blank" href="http://wpa.qq.com/msgrd?v=1&uin=59791963&site=qq&menu=yes"><img src="images/kf.png" alt=""/><b>严思语</b></a></td>
      <td><a target="_blank" href="http://wpa.qq.com/msgrd?v=1&uin=59791963&site=qq&menu=yes"><img src="images/kf.png" alt=""/><b>葛大爷</b></a></td>
    </tr>
  </tbody>
</table>