<ng-include src="'views/othermenu.html'"></ng-include>

<div id="main-content">
  <div class="container-fluid" ng-controller="dynamicdetailController">
    <div id="dynamic" class="section-content">
      
      <div class="row contact-form ">
        <div class="col-md-12">
          <div class="section-title1">
            <h4><a href="javascript:void(0)">润云动态</a></h4>  >  <h4><a href="#dynamiclist/{{detail.typeid}}">{{detail.typename}}</a></h4>   >  <h4>{{detail.title}}</h4>
          </div>
        </div>
      	<div class="col-md-12 contact_1 ng-cloak" ng-cloak>
            <h3>{{detail.title}}</h3>
            <span><i>{{detail.daytime}}</i><i>{{detail.time}}</i><i>来源：{{detail.writer}}</i></span>
            <p ng-bind-html="body">
			{{body}}
			</p>
        </div>
      </div>
      <!-- /.row -->
      <div class="row">
      	<div class="col-md-6"><button class="bord2 w100" ng-click="prevdetail(previd)" ng-show="!isfirst">上一篇</button></div>
        <div class="col-md-6"><button class="bord2 w100" ng-click="nextdetail(nextid)" ng-show="!islast">下一篇</button></div>
      </div>
    </div>
    <!-- /#services -->
    

  </div>
  <!-- /.container-fluid -->
  <ng-include src="'views/footer.html'"></ng-include>
  
</div>