<div class="site-footer" ng-controller="footerController">
  <div class="first-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
        <h4>友情链接</h4>
          <div class="social-footer">
            <ul>
             <li ng-repeat="val in links"><a href="{{val.url}}" target="_blank">{{val.webname}}</a></li>
            </ul>
          </div>
          <!-- /.social-footer --> 
       </div>
       <!-- /.col-md-12 --> 
     </div>
     <!-- /.row --> 
   </div>
   <!-- /.container-fluid --> 
 </div>
 <!-- /.first-footer -->
 <div class="bottom-footer">
   <div class="container-fluid">
     <div class="row">
       <div class="col-md-6">
         <p class="copyright">版权所有 江苏润和软件股份有限公司<a href="#">苏ICP备14037243号-1</a> </p>
       </div>
       <!-- /.col-md-6 -->
       <div class="col-md-6 credits">
         <p>地址：江苏省南京市雨花台区软件大道168号</p>
         <!-- / please support templatemo.com by providing a credit link. thank you. / --> 
       </div>
       <!-- /.col-md-6 --> 
     </div>
     <!-- /.row --> 
   </div>
   <!-- /.container-fluid --> 
 </div>
 <!-- /.bottom-footer --> 
</div>
<!-- /.site-footer --> 